{% load static %}

<div class="d-flex flex-row container-fluid">
    <div class="flex-column container-fluid">
        {% if medhome %}
        <table class="table flex-grow-1 table-sm table-dark table-hover">
            <thead></thead>
                <tr>
                    <th>ID</th>
                    <th>Compound/Ingredients</th>
                    <th>Labeler/Manufacturer</th>
                </tr>
            </thead>
            <tbody>
                {% for med in medhome %}
                <tr>
                    <td><a href="{% url 'explore:meddetail' med.id %}">{{ med.id }}</a></td>
                    <td><a href="{% url 'explore:meddetail' med.id %}">{{ med.generic_norm|truncatewords:5 }}</a></td>
                    <td>{{ med.labeler_norm }}</td>
                </tr>
                {% endfor %}    
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="flex-wrap justify-content-center">
                        <a href="/explore/meds">View full Medication List ({{ countmed }} records)</a>
                    </td>
                </tr>
            </tfoot>
        </table>
        {% else %}
        <h6>No medications are available.</h6>
        <p><a href="/admin/">Go to Admin to add some.</a></p>
        {% endif %}
    </div>
</div>