{% load static %}
<div class="final-sidebar flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-5 fw-semibold">Navigation</span>
  </a>
  <ul class="list-unstyled ps-0">
    {% block sb_home %}
    <li class="mb-1">
      <button  aria-current="page" class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
        Home
      </button>
      <div class="collapse show" id="home-collapse" style="">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="/" class="active link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
        </ul>
      </div>
    </li>
    {% endblock %} 
    {% block sb_explore %}
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        Explore
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="/explore/" class="link-dark d-inline-flex text-decoration-none rounded">Explore All</a></li>
          <li><a href="/explore/corps/" class="link-dark d-inline-flex text-decoration-none rounded">Browse Medical Note Text Entries</a></li>
          <li><a href="/explore/meds/" class="link-dark d-inline-flex text-decoration-none rounded">Browse All Medications</a></li>
          <li><a href="/explore/symptoms/" class="link-dark d-inline-flex text-decoration-none rounded">List Symptoms</a></li>
          <li><a href="/admin/" class="link-dark d-inline-flex text-decoration-none rounded">Administer Text, Meds, Symptoms (requires auth)</a></li>
        </ul>
      </div>
   </li>
    {% endblock %} 
    {% block sb_search %}
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Look for Adverse Events
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="/search/" class="link-dark d-inline-flex text-decoration-none rounded">Search in existing text items</a></li>
        </ul>
      </div>
    </li>
    {% endblock %} 
  </ul>
</div>